<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!--load the property file: sport:properties-->
	<context:property-placeholder location="classpath:sport.properties"/>
	
	
	
	<!--setup our getter injection-->
	<bean id="myFortuneService" class="com.springdemo.HappyFortuneService">
	</bean>
	
	
	
    <bean id="myCoach" class="com.springdemo.TrackCoach">
    <constructor-arg ref="myFortuneService"/>
    </bean>
    
    
    
    
    <bean id = "MyCricketCoach" class="com.springdemo.CricketCoach">
    
    <!--setup our setter injection-->
    <property name="fortuneService" ref="myFortuneService"/>
    
    <!--Inject liter values-->
    <property name="emailAddress" value="${foo.email}"/>
    <property name="team" value="${foo.team}"/>
    </bean>
    
</beans>